.Markdown {
  word-break: break-word;

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  pre {
    background-color: #eceff1;
    border-radius: 5px;
    padding: 10px;
    overflow: scroll;
    word-break: break-word;
  }
  code {
    background-color: #eceff1;
    font-size: 12px;
    padding: 5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }

  blockquote {
    font-style: italic;
    padding-left: 10px;
    position: relative;

    &::before {
      position: absolute;
      height: 100%;
      width: 4rem;
      content: '';
      border-left: 0.3rem solid #82b1ff;
      transform: translateX(-1rem);
    }
  }
}
