.Issue {
  padding: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  &-title {
    display: flex;
    flex-basis: row wrap-reverse;
  }

  &-loader {
    align-self: center;
  }

  &-num {
    color: #78909c;
    font-size: 1.2rem;
    margin-right: 10px;
  }
}
